<%- include('../Layouts/header') %>
<div class="py-5">
    <div class="text-white text-center mb-4">
        <h3>Change Password</h3>
    </div>
    <div class="to-do-form p-3 col-lg-3 col-md-7 mx-auto rounded-3 my-3">
        <form method="post" action="/checkChangePassword">
            <input type="hidden" name="id" value="<%= user._id %>" />
            <label class="mb-2 mt-3">Old Password:-</label>
            <input type="password" name="oldPassword" value="<%= oldValue ? oldValue.oldPassword:'' %>"  placeholder="Enter Old password" class="form-control" />
            <% if(errors&&errors.oldPassword) { %>
                <p class="text-danger"><%= errors.oldPassword.msg %></p>
            <% } %>

            <label class="mb-2 mt-3">New Password:-</label>
            <input type="password" name="newPassword" value="<%= oldValue ? oldValue.newPassword:'' %>"  placeholder="Enter new password" class="form-control" />
            <% if(errors&&errors.newPassword) { %>
                <p class="text-danger"><%= errors.newPassword.msg %></p>
            <% } %>

            <label class="mb-2 mt-3">Confirm Password:-</label>
            <input type="password" name="confirmPassword" value="<%= oldValue ? oldValue.confirmPassword:'' %>"  placeholder="Enter confirm new password" class="form-control" />
            <% if(errors&&errors.confirmPassword) { %>
                <p class="text-danger"><%= errors.confirmPassword.msg %></p>
            <% } %>
    
            <div class="text-center mt-4">
                <button type="submit" class="btn w-100">Change</button>
            </div>
        </form>
    </div>
</div>
<%- include('../Layouts/footer') %>